.article-container {
    max-width: 1180px;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
}

table {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    }
